<!DOCTYPE html>
<html>
<title>PyBass</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("44.jpg");
    min-height: 100%;
}
</style>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
   
	 <a href="#home" class="w3-bar-item w3-button">HOME</a>
   	 <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
     <a href="team.html" class="w3-bar-item w3-button">TEAM</a>
   	 <a href="contact.html" class="w3-bar-item w3-button">CONTACT</a>
 
 </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home" />
  
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:100px"><b>welcome to PyBass</b></span>
    <p><a href=" http://127.0.0.1:8000 " class="w3-button w3-xxlarge w3-black">Get Started</a></p>
  </div>
</header>
<!-- About Container -->
<div class="w3-container w3-padding-64 w3-cyan w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px"><u>About</u></h1>
    <p><b>PyBass</b> is a web interface for media storage and synchronization service which allows the user to store their music in cloud and  synchronize across devices, also make their own playlist and sortlisted their favourite musics. It's a free service with ads free user interactive interface providing unlimited storage<sup><b>TM</b></sup> with the facilities of uploading their choice of music along with streaming and downloading. </p>
    <p><strong>The Guide?</strong> Ms. Deepa </p>
    <p>We are proud of our mentor.</p>
    
  </div>
</div>
</body>
</html>

