<!DOCTYPE html>
<html>
<title>Team</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
    body,h1,h2,h3,h4,h5,h6,a {font-family:cursive;font-weight: bold;color:white;}
    h1{font-size: 60px}
    h3{font-size: 30px;font-family:"karma",cursive;background-color: black;}
    span{
        background-color: black;
    }
    
    .w3-bar-block .w3-bar-item {padding:20px}
    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("team/bg1.jpg");
        min-height: 100%;
    }
</style>
<body>

<div class="w3-container"style="margin:15px">
    <div class="w3-bar w3-xlarge">
        <a href="index.html" class="w3-left w3-button ">
            <i class="fa fa-home" aria-hidden="true"></i> home
        </a>
        
        <a href="contact.html" class="w3-right  w3-button ">say hi!
           <i class="fa fa-telegram" aria-hidden="true"></i>
        </a>
    </div>
    <h1 class="w3-center" style="font-variant: small-caps; ;font-stretch: expanded"> Our Team </h1>
</div>
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:15px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="team/nithin.jpg" style="width:100%">
      <h3>Nithin k Singh</h3>
      <h4> <span>&nbsp;1OX14CS056&nbsp;</span> </h4>
    </div>
    <div class="w3-quarter">
      <img src="team/prasant.jpg" style="width:100%">
      <h3>Prasant Surin</h3>
      <h4> <span>&nbsp;1OX15CS075&nbsp;</span> </h4>
    </div>
    <div class="w3-quarter">
      <img src="team/bera.jpg" style="width:100%">
      <h3>Sovanlal Bera</h3>
      <h4> <span>&nbsp;1OX15CS104&nbsp;</span> </h4>
    </div>
    <div class="w3-quarter">
      <img src="team/udipta.jpg" style="width:100%">
      <h3>Uddipta Poddar</h3>
      <h4> <span>&nbsp;1OX15CS119&nbsp;</span> </h4>
    </div>
  </div>
 </div>
    
</body>
</html>
